PORT
MONGO_URI
USER_JWT_SECRET
ADMIN_JWT_SECRET

# Usuario de demostración (requerido para iniciar la aplicación)
DEMO_USER_ID
SALT

# Mosquitto
MQTT_URL
MQTT_BASE_TOPIC
MQTT_USERNAME
MQTT_PASS

# WebSockets
WS_ALARM_ARMING
WS_TRIGGER_ALARM
WS_WARNING
WS_LIGHTS

# Email Service
EMAIL_USER
EMAIL_PASS

# Cliente
CLIENT_URL
CORS_ORIGINS

# Utils
USER_PREFIX

# DemoUser
DEMO_USER_ID
